*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* /////////////////////Header//////////////////////////// */
.container-header
{    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

#logo{
    background-image: url(./images/Untitled-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 345px;
    height: 100%;
}

#Dlink{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/51lpm9SpsJL.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 345px;
    height: 100%;
}


/* /////////////////Navigation bar//////////////////////// */
#navi{

    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: coral;
}

#navi a
{
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color: black;
    text-decoration: none;
}

#navi a:hover{
    background-color: gray;
    color: red;
    border-radius: 10%;
}
/* ///////////////////////////////////////////////// */
body
{
    background-color: rgb(184, 181, 181);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* ////////////////////Video Settings///////////////////////////// */
.landing-vid:hover + .credits{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    text-align: center;
    color: black;
    margin-top: 20px;
}

.landing-vid{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: gray;
    width: 100%;
    height: 100%;    
}

.credits
{
    display: none;
}
/* /////////////////////////////Article section, box magic moving//////////////////////////////////// */
.Andreas{
    padding-top: 20px;
    margin-left: 450px;
    width: 650px;
    text-align: center;
}

.parent .child {
    display: none;
}
  
.parent:hover .child {
    display: block;
    animation: fade-in 5s;
}
  
.parent:not(:hover) .child.did-fade-in {
    display: block;
    animation: fade-out 3s;
}
  
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
    
.axis img {
    float: left;
    transition: all 0.5s ease-in;
}
    
.axis .move-left {
    transform: translateX(200px);
}
        
.axis:hover .move-left {
    transform: translateX(0px);
}

/* ////////////////////Text and pics settings///////////////////////////// */
.welcome-section{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.welcometxt{
    margin-top: 50px;
    margin-left: 17.5%;
    font-size: 28px;
    background-color: coral;
    display: block;
    max-width: 65%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.articlePIC h3{
    text-align: center;
    font-size: 10px;
}

.articlePIC img{

    height: 168px;
}

.articlePIC{
    padding-top: 20px;
    display: flex;  
    justify-content: space-evenly;


}


.articleFONT h1{
    padding: 15px;
}
.articleFONT h2{
    padding: 15px;
    text-align: center;
}
.articleFONT{
    
    padding-left: 25%;
    padding-right: 25%;
}

.articleFONT p{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    line-height: 210%;
    padding: 30px;
}



/* /////////////////FOOTER//////////////////////////////// */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}

