*{
    margin:0;
    padding:0;
}

.container-header
{
    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    

}

#logo{
    background-image: url(./images/Untitled-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 345px;
    height: 100%;

}
#Dlink{
    background-image: url(./images/Untitled-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 345px;
    height: 100%;

}

#navi{

    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: coral;
}
#navi a
{
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color: black;
    text-decoration: none;
}
#navi a:hover{
    background-color: gray;
    color: red;
    border-radius: 10%;
}
body
{
    background-color: rgb(184, 181, 181);
}

.landing-vid:hover + .credits{
    display: block;
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    text-align: center;
    color: black;
}

.landing-vid{
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.credits
{
    display: none;

}
