*{
    margin:0;
    padding:0;
}

.container-header
{
    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    

}

#logo{
    background-image: url(./images/Untitled-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;

}

#navi{
    color:blanchedalmond;
}

